#cloud-config
write_files:
# pacman mirror
  - path: /etc/pacman.d/mirrorlist
    content: |
      Server = https://at.arch.mirror.kescher.at/$repo/os/$arch
      Server = https://mirror.theo546.fr/archlinux/$repo/os/$arch
      Server = https://archlinux.thaller.ws/$repo/os/$arch
      Server = https://mirror.moson.org/arch/$repo/os/$arch
      Server = https://arch.phinau.de/$repo/os/$arch
      Server = https://md.mirrors.hacktegic.com/archlinux/$repo/os/$arch
      Server = https://london.mirror.pkgbuild.com/$repo/os/$arch
      Server = https://mirrors.neusoft.edu.cn/archlinux/$repo/os/$arch
      Server = https://mirror.ufscar.br/archlinux/$repo/os/$arch
      Server = https://mirror.theash.xyz/arch/$repo/os/$arch
      Server = https://america.mirror.pkgbuild.com/$repo/os/$arch

package_upgrade: true
runcmd:
  - pacman-key --init && pacman-key --populate archlinux